# fly.toml app configuration file generated for speaking-meetingbaas on 2025-04-13T22:42:23+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'meetingbots'
primary_region = 'iad'

[build]

[env]
  PORT = "7014"

[http_service]
  internal_port = 7014
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 2
